<mat-grid-list cols="12" rowHeight="fit" style="height: 100vh;">
  <mat-grid-tile [colspan]="6" [rowspan]="2" >
    <app-comp1></app-comp1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="2" >
    <app-comp2></app-comp2>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="2" >
    <app-comp5></app-comp5>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="2" >
    <app-comp3></app-comp3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="2" >
    <app-comp4></app-comp4>
  </mat-grid-tile>
</mat-grid-list>
<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2>
<app-comp3></app-comp3>
<app-comp4></app-comp4>
<app-comp5></app-comp5> -->